<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737092768793-bu9bgqb8hoi5to9jru5rg0n5et5g5ok9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737092768793-bu9bgqb8hoi5to9jru5rg0n5et5g5ok9</string>
	<key>API_KEY</key>
	<string>AIzaSyDWXJMuIbhjs_N1CPyv1Vteqi5FfSxjntw</string>
	<key>GCM_SENDER_ID</key>
	<string>737092768793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cubixquirrel.fashionhind</string>
	<key>PROJECT_ID</key>
	<string>fashionhind-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>fashionhind-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737092768793:ios:e1ada339b7ea644cdac688</string>
</dict>
</plist>